* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
}
#cont {
  padding: 0px 16px;
}
#middle {
  border-bottom: 1px solid #eee;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 0%;
}
#max-width-cont {
  padding-left: 60px;
  padding-right: 60px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.midCont {
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
  margin-left: 0;
  border-bottom: 1px solid #eee;
}

.midText {
  width: 100%;
  background-image: url(../image/emp3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: bottom;
}

.midText > p:nth-child(1) {
  margin-bottom: 0;
  margin-top: 48px;
  color: #333;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.181818;
}
.midText > p:nth-child(2) {
  font-weight: 600;
  font-size: 24px;
  margin-top: 8px;
  line-height: 1.333;
  color: #333;
}
.midText > p:nth-child(3) {
  font-size: 18px;
  margin-top: 12px;
  line-height: 1.22222;
  color: #333;
}

#rightSide {
  display: inline-block;
  width: 375px;
  margin-bottom: 80px;
}

#formCont {
  margin-left: 15px;
  padding: 30px 0;
  width: 360px;
  text-align: left;
}
.form {
  /* display: flex;
    flex-direction: column;   */
  border: 0;
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 10px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
  margin-bottom: 0;
  position: relative;
  z-index: 0;
  border-radius: 6px;
  padding: 24px;
  background: #fff;
  display: block;
}
.formGroup {
  clear: both;
  margin-bottom: 16px;
}
label {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
  display: inline-block;
}
.form > p {
  margin-top: 0px;
  margin-bottom: 1rem;
  margin-left: 2px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.form-control {
  box-shadow: none;
  padding: 11px;
  background: #fff;
  color: #484848;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  height: 40px;
  line-height: 1.14285714;
  font-family: sans-serif;
  display: block;
  width: 100%;
  font-weight: 400;
}
.form > input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
  border-radius: 3px !important;
  outline: none;
}
.nameRow {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.form .nameRow .formCol:first-of-type {
  padding-left: 15px;
  padding-right: 3px;
}
.form .nameRow .formCol:last-of-type {
  padding-left: 3px;
  padding-right: 15px;
}
.formCol {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.label_toc {
  font-size: 12px;
  color: #333333;
  line-height: 1.57;
  font-weight: 400;
}
button,
input {
  overflow: visible;
  outline: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

#internship_registration_button_container {
  display: block;
}
#job_employer_registration_button {
  text-align: center;
  margin: 12px 0 16px;
}
.btn.btn-primary {
  width: 100%;
  padding: 12px 16px;
  background: #00a5ec;
  border-radius: 3px;
  border: 1px solid #00a5ec;
}
.btn {
  padding: 7px 15px;
  font-weight: 600;
  min-width: 80px;
  line-height: 1.14285714;
  font-size: 14px;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
}
#jobRegExtra .label_toc_2 {
  text-align: center;
}
.hiring {
  width: 100vw;
  text-align: center;
}
.heading > p {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  padding: 40px 0px;
}
.hireCardCont {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 82%;
  width: 85%;
  margin: auto;
}
@media (max-width: 992px) {
  .hireCardCont {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
.hireCard {
  width: 33.3%;
  height: 100%;
}
.hireCard > img {
  width: 152px;
  margin-bottom: 16px;
}
.hireCard > p:nth-child(2) {
  font-size: 18px;
  line-height: 1.33333333;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0.5rem;
}
.hireCard > p:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.company {
  width: 100vw;
  margin-top: 3%;
}

/* feedback brands logos and toggle-- end*/

.register {
  width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.register > button {
  width: 215px;
  padding: 12px;
  font-size: 16px;
  margin: auto;
  background: #00a5ec;
  border-radius: 3px;
  border: 1px solid #00a5ec;
  color: white;
  font-weight: 600;
  min-width: 80px;
  line-height: 1.14285714;
  display: inline-block;
}

/* brands/carousel css start */

#brands-parent-div {
  box-sizing: border-box;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slider {
  min-height: 200px;
  max-width: 660px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border-radius: 6px;
  margin: auto;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition-timing-function: ease-out;
  transition: 1.5s;
}

/*---carousel inner css---*/
.carousel-cont {
  padding: 24px;
  border-radius: 6px;
  min-height: 200px;
  max-width: 648px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
.carousel-inner {
  float: left;
  width: 100%;
}
.item-top {
  display: flex;
  flex-direction: row;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}
/* .item-top .img{
  width: 64px;
  height: 64px;
} */
.item-top .img img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.item-top .desc {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name h6 {
  display: inline;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.item-content {
  margin-top: 17px;
  padding-right: 15px;
  color: #484848;
}
.linkedin img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 0;
}

/* brands */

/* feedback brands logos and toggle-- start*/
#brands-div {
  margin: auto;
}
.brands {
  display: flex;
  margin: auto;
  padding: 10px 0px;
  max-width: 648px;
  height: 60px;
}
.brands > div {
  width: 20%;
  height: 100%;
}
.brand-logo {
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: 0.6s ease;
  width: 120px;
  height: 48px;
}
.kotak-off {
  background: url("../image/kotak-off.png") no-repeat;
  background-size: 90%;
  background-position: center;
}
.disney-off {
  background: url("../image/disney-off.png") no-repeat;
  background-size: 90%;
  background-position: center;
}
.airbnb-off {
  background: url("../image/airbnb-off.png") no-repeat;
  background-size: 90%;
  background-position: center;
}
.teach-off {
  background: url("../image/teach-off.png") no-repeat;
  background-size: 90%;
  background-position: center;
}
.arc-off {
  background: url("../image/arc-off.png") no-repeat;
  background-size: 90%;
  background-position: center;
}

/* on */

.kotak-on {
  background: url("../image/kotak-on.png") no-repeat;
  background-size: 90%;
  background-position: center;
}
.disney-on {
  background: url("../image/disney-on.png") no-repeat;
  background-size: 90%;
  background-position: center;
}
.airbnb-on {
  background: url("../image/airbnb-on.png") no-repeat;
  background-size: 90%;
  background-position: center;
}
.teach-on {
  background: url("../image/teach-on.png") no-repeat;
  background-size: 90%;
  background-position: center;
}
.arc-on {
  background: url("../image/arc-on.png") no-repeat;
  background-size: 90%;
  background-position: center;
}

.help-block::before {
  content: "\e900";
  font-size: 16px;
  font-family: internshala-icons !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: sub;
  margin-right: 4px;
}

/* feedback brands logos and toggle-- end*/

/* brands/carousel css start */

/* ------------------------media queries --start-------------------- */

@media (min-width: 1256px) {
  #max-width-cont {
    padding: 0px 100px;
  }
  #rightSide {
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .navFlex {
    padding: 0px 100px;
  }
}
@media (max-width: 1440px) {
  #rightSide {
    margin-bottom: 55px;
  }
}
@media (max-width: 1255px) {
  #rightSide {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .midCont {
    flex-direction: column;
    align-items: center;
  }
  .midText {
    height: 400px;
    background-size: 150%;
    background-position-y: 200px;
    background-position-x: -80px;
  }
}
