* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.footerDiv {
  background-color: #333;
  min-height: 460px;
  padding: 2% 4.5% 0;
}
.sizing {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  
}


.footerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
@media (max-width: 991px){
.footerFlex{

    display: block;
    margin-top: 24px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#collasp-div{
  display: none;
}
.footerFlex h5{
  margin: 20px 50px;
}
.copyright{
  display: flex;
  flex-wrap: wrap;
}
}

.list {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Inter var", sans-serif;
  color: #fff;
}
.footerFlex > div > h5 {
  /* font-size: 1.2vw; */
  line-height: 1.25;
  font-weight: 600;
  font-family: "Inter var", sans-serif;
}
.list > a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
}
#offer{
  text-align: center;
  width: 50px;
  height: 22px;
  background: #ff8c00;
  border-radius: 5px;
  /* font-size: .9vw; */
  font-weight: 400;
  /* margin-left: 0%; */
}
#offerSec{
  display: flex;
}
 #offerSec > div:first-child{
  /* font-size: 5vw; */
  line-height: 1.25;
  font-weight: 600;
  font-family: "Inter var", sans-serif;
} 

.copyright {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  color: white;
  background-color: #333;
     padding-top: 24px;
    padding-bottom: 40px;
      border-top: 1px solid #666;
}

.media {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}
.media > div > button {
  height: 100%;
  height: 50px;
  width: 180px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

#playicon {
  font-size: .9vw;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.copy > div{
  display: block;
}
