* {
  margin: 0%;
  padding: 0%;
}
.header {
  height: 72px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
  margin-bottom: 2px;
}

.header > .height-cont {
  height: 100%;
}

.header > .height-cont > .flex {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 100%;
}

.header > .height-cont > .flex > .imgflex {
  display: flex;
  justify-content: center;
}

.header > .height-cont > .flex > .imgflex > img {
  padding-bottom: 10px;
}

.header > .height-cont > .flex > .btn {
  display: flex;
  /* width is changed by pulkit as the lohin button is removed so the width has to be adjusted */
  width: 55%;
  justify-content: space-evenly;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
}
.header > .height-cont > .flex > .btn > div {
  height: 100%;
  display: flex;
  align-items: center;
}

.header > .height-cont > .flex > .btn > div > a {
  text-decoration: none;
  color: #525050;
  font-weight: 600;
}

.header > .height-cont > .flex > .btn > div > a:hover {
  color: #008bdc;
}

.header > .height-cont > .flex > .btn > div > a > .spanStyle {
  background-color: #ff8c00;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-top: 2px;
  font-size: 12px;
}

.header > .height-cont > .flex > .btn > div > .btnLogin {
  background-color: white;
  border: none;
  border: 1px solid #00a5ec;
  border-radius: 4px;
  color: #00a5ec;
  padding: 9px 20px 9px 20px;
  font-weight: bold;
}

.header > .height-cont > .flex > .btn > .dropdown > div > .btnRegister {
  /* bg color changed to white as pwr requirement in login page */
  background-color: white;
  border: none;
  /* border changed to white as pwr requirement in login page */
  border: 1px solid white;
  border-radius: 4px;
  /* border changed to white as pwr requirement in login page */
  color: #525050;
  padding: 5px 20px 5px 20px;
  font-weight: bold;
}

.header > .height-cont > .flex > .btn > .dropdown:hover {
  border-bottom: 10px solid #008bdc;
}

.header > .height-cont > .flex > .btn > .dropdown > div {
  position: relative;
  display: inline-block;
}

.header > .height-cont > .flex > .btn > .dropdown > div > .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  right: 0;
  left: auto;
  /* margin decreased by pulkit for drop down box to change the width of blue line behind the drop down*/
  margin-top: 13%;
  /* min-width changed by pulkit for drop down box */
  min-width: 180px;
  z-index: 1;
}

.header
  > .height-cont
  > .flex
  > .btn
  > .dropdown:hover
  > div
  .dropdown-content {
  display: block;
}
.header
  > .height-cont
  > .flex
  > .btn
  > .dropdown
  > div
  > .dropdown-content
  > nav
  > div {
  padding: 5px;
}

.header
  > .height-cont
  > .flex
  > .btn
  > .dropdown
  > div
  > .dropdown-content
  > nav
  > div
  > a {
  text-decoration: none;
  color: #525050;
  font-family: "Inter var", sans-serif;
  line-height: 22px;
  font-weight: 400;
}

.header
  > .height-cont
  > .flex
  > .btn
  > .dropdown
  > div
  > .dropdown-content
  > nav
  > div
  > a:hover {
  color: #00a5ec;
}

/*main css */
