* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.footerDiv {
  background-color: #333;
  height: 30vh;
  
}
.footerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 2% 8%;
}
.list {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Inter var", sans-serif;
  color: #fff;
}
.footerFlex > div > h5 {
  line-height: 1.25;
  font-weight: 600;
  font-family: "Inter var", sans-serif;
}
.list > a {
  font-size: 1vw;
  font-weight: 600;
  color: #fff;
}
#offer{
  text-align: center;
  width: 50px;
  height: 22px;
  background: #ff8c00;
  border-radius: 5px;
  /* font-size: .9vw; */
  font-weight: 400;
  /* margin-left: 0%; */
}
#offerSec{
  display: flex;
}
 #offerSec > div:first-child{
  /* font-size: 5vw; */
  line-height: 1.25;
  font-weight: 600;
  font-family: "Inter var", sans-serif;
} 
#hrLine {
  margin-top: 30px;
  width: 100%;
  margin-bottom: 30px;
  height: 0px;
  color: #fff;
  
}
.copyright {
  float: right;
  color: #fff;
  margin-right: 70px;
  font-size: 1vw;
  font-weight: 600;
}

