.footer {
  background-color: #2d2d2d;
}
.footer > .row1,
.row2 {
  display: flex;
}
.footer > .row1 > .col1,
.col2,
.col3,
.col4 {
  display: flex;
  flex-direction: column;
}
.footer > .row2 > .col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
}
.row1 > .col1,
.col2,
.col3,
.col4 {
  color: white;
  margin: 1% 5%;
  font-family: "Source Sans Pro", sans-serif;
}
.row2 > .col1,
.col2,
.col3 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
.row2 > .col1 {
  margin: 1% 5%;
}
.row2 > .col2 {
  margin: 1% 9%;
}
.row2 > .col3 {
  margin: 1% 9.5%;
}
.footer > .row1 > .col1 > div {
  font-size: 14px;
  margin: 0.5% 0%;
}
.footer > .row1 > .col1 > div:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin: 4% 0%;
}
.footer > .row1 > .col1 > div:nth-child(23) {
  font-size: 20px;
  font-weight: bold;
  margin: 4% 0%;
}
.footer > .row1 > .col2 > div {
  font-size: 14px;
  margin: 0.5% 0%;
}
.footer > .row1 > .col2 > div:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin: 4% 0%;
}
.footer > .row1 > .col2 > div:nth-child(17) {
  font-size: 20px;
  font-weight: bold;
  margin: 4% 0%;
}
.footer > .row1 > .col2 > div:nth-child(23) {
  font-size: 20px;
  font-weight: bold;
  margin: 2% 0%;
}
.footer > .row1 > .col3 > div {
  font-size: 14px;
  margin: 0.5% 0%;
}
.footer > .row1 > .col3 > div:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin: 4% 0%;
}
.footer > .row1 > .col3 > div:nth-child(17) {
  font-size: 20px;
  font-weight: bold;
  margin: 4% 0%;
}
.footer > .row1 > .col3 > div:nth-child(23) {
  font-size: 20px;
  font-weight: bold;
  margin: 2% 0%;
}
.footer > .row1 > .col4 > div {
  font-size: 14px;
  margin: 0.5% 0%;
}
.footer > .row1 > .col4 > div:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin: 4% 0%;
}
.footer > .row1 > .col4 > div:nth-child(17) {
  font-size: 20px;
  font-weight: bold;
  margin: 4% 0%;
}
.row2 > .col1 > div {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
}
.row2 > .col2 > div {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
}
.row2 > .col3 > div {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  font-weight: bold;
}
.horizontal > hr {
  width: 95%;
  margin-left: 2.5%;
  border-top: 1px solid #111111;
  border-bottom: 1px solid gray;
}
