.heading > h1 {
  margin-top: 5%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
.subHeading {
  margin: 3% 5%;
  font-family: "Source Sans Pro", sans-serif;
}
.subHeading p {
  font-size: 22px;
  font-weight: bold;
  color: #666666;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
}
.subHeading span {
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;
}
/* .courseContainer {
  width: 90%;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */
.courseContainer {
  margin-left: 5%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
  -webkit-box-align: stretch;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
}
.courseContainer > .course_cards {
  min-width: 25%;
  max-width: 25%;
  margin-right: 3%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}
.course_cards > img {
  width: 60%;
  margin: 5% auto;
}
.course_cards > p {
  margin: 0% 2%;
}
.course_cards > h4,
p {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 5%;
  color: #666666;
  font-family: "Source Sans Pro", sans-serif;
}
.course_cards > h4 {
  font-size: 18px;
}
.course_cards > p {
  font-size: 15px;
}
.bottom_tags {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.bottom_tags > p {
  width: 50%;
  margin-bottom: 0%;
  border-top: 1px solid #b8b8b8;
  padding: 5%;
  color: #666666;
  font-family: "Source Sans Pro", sans-serif;
}
.bottom_tags > p:nth-child(2) {
  border-left: 1px solid #b8b8b8;
}
.bottom_tags > p > span {
  color: #00a5ec;
  font-weight: bold;
  font-size: 15px;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav > img {
  width: 3.5%;
  margin-left: 2%;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  transition: transform 0.6s ease;
}
.specialCont {
  display: flex;
  justify-content: center;
}
.specialCont > img {
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 4%;
  margin-left: 4%;
  margin-bottom: 6%;
}
