@media only screen and (max-width: 900px) {
  .LSlider {
    display: none;
  }

  .RSlider {
    width: 100%;
  }
  .cont > footer > .footerDiv > .sizing > .footerFlex > div:nth-child(-n + 3) {
    display: none;
  }
  .cont > footer > .footerDiv > .sizing > hr {
    display: none;
  }

  .cont > footer > .footerDiv > .sizing > .copyright {
    flex-direction: column;
    align-items: flex-start;
  }

  .cont > footer > .footerDiv > .sizing > .copyright > .media {
    margin-top: 20px;
    width: 100%;
    justify-content: flex-start;
    row-gap: 30px;
    column-gap: 30px;
  }

  .cont
    > footer
    > .footerDiv
    > .sizing
    > .copyright
    > .media
    > div:nth-child(1) {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .cont > footer > .footerDiv > .sizing > .copyright > .copy {
    border-top: 2px solid #666;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  .title,
  .toggle_content {
    margin-left: 0%;
  }

  .header > .height-cont > .flex > .btn {
    display: none;
  }

  .header > .height-cont > .flex > .imgflex > .icon {
    display: block;
  }

  .header {
    width: 100%;
  }

  .header > .height-cont {
    padding-left: 5%;
  }

  .header > .height-cont > .flex > .imgflex > img {
    width: 100%;
    height: 100%;
  }

  .filter_button {
    display: block;
  }
  .header > .height-cont > .flex > .imgflex > a > img {
    width: 100%;
    height: 100%;
  }

  /*landing page responsive*/
  .cont > main > .intrenship > .innerIntrenship > .category > .categoryItems {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: auto;
  }

  .cont
    > main
    > .intrenship
    > .innerIntrenship
    > .category
    > .categoryItems::-webkit-scrollbar {
    display: none;
  }

  .cont > main > .search {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .discrip,
  .details {
    flex-direction: column;
    row-gap: 20px;
  }
}
