  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    max-width: 100vw;
  }
  #cont{
    padding: 0px 16px;
  }
  #middle {
      border-bottom: 1px solid #EEE;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      display: block;
      padding: 0%;
  }
  #max-width-cont{
    padding-left: 60px;
    padding-right: 60px;
    width: 100vw;
        margin-left: auto;
      margin-right: auto;
          display: block;

            width: 100%;
    background-image: url(../image/emp3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
  }
  .midCont {
    display: flex;
    padding-right: 32px;
    padding-left: 32px;
    margin-left: 0;
    border-bottom: 1px solid #EEE;
  }
  
.midText {
    width: 100%;
  } 
 #freeText{
  color: #00A5EC;
}
  .midText > p:nth-child(1) {
    margin-bottom: 0;
    margin-top: 48px;
    color: #333;
    font-family: Inter,sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.181818;
  }
  .midText > p:nth-child(2) {
    font-weight: 600;
    font-size: 24px;
    margin-top: 12px;
    line-height: 1.333;
    color: #333;
  }

  #checkbox-cont{
    margin-top: 20px;
  }
  .checkBox{
  display: flex;
  font-size: 1.3vw;
  font-weight: 580;
  color: #3b3b3b;
  margin-bottom: .3%;
}
.checkBox > img{
  margin-right: .5%;
  width: 30px;
}

  #rightSide{
    display: inline-block;
      width: 375px;
      margin-bottom: 80px;
  }

  #formCont{
    margin-left: 15px;
    padding: 30px 0;
    width: 360px;
    text-align: left;
  }
  .form {
    /* display: flex;
    flex-direction: column;   */
      border: 0;
      background-color: #fff;
      box-sizing: border-box;
      margin-top: 10px;
      box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
      margin-bottom: 0;

      position: relative;
      z-index: 0;
      border-radius: 6px;
      padding: 24px;
      background: #fff;
      display: block;
  }
  .formItem{
    clear: both;
    margin-bottom: 16px;
  }
  #google-btn-cont{
    background: #fff;
    border-radius: 3px;
    border: 1px solid #EEE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 11px 10px;
    margin-bottom: 12px;
  }
  .google-img-cont{
    height: 16px;
  }
  .google-img-cont img{
    width: 16px;
    height: 16px;
    margin-top: -2px;
    vertical-align: middle;
    border-style: none;
}
  .google-content{
    font-size: 14px;
    padding: 0 8px;
    font-weight: 600;
    color: #484848;
  }
  .or-cont{
    text-align: center;
    display: block;
  }
  .or{
    color: #666;
    padding: 0 0 3px 0;
    background: #fff;
    font-family: Inter,sans-serif;
    font-weight: 500;
}
.or p{
  width: 40px;
    margin: 0 auto!important;
    position: relative;
    z-index: 10;
    background: #fff;
}
  .or-cont .border{
    position: relative;
    margin-top: -14px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #EEE!important;
    border: 1px solid #dee2e6!important;
  }

  /* error-message */
  #error-password, #error-email, #error-name{
    color: #e0343df8;
  }

  label {
      font-family: Inter,sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #333;
      margin-bottom: 4px;
      display: inline-block;
  }
  .form > p{
    margin-top: 0px;
    margin-bottom: 1rem;
    margin-left: 2px;
    display: block;
        margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
  .formControl{
  box-shadow: none;
  padding: 11px;
  background: #fff;
  color: #484848;
  border: 1px solid #DDD;
  border-radius: 3px;
  font-size: 14px;
  height: 40px;
  line-height: 1.14285714;
  font-family: Inter,sans-serif;
  display: block;
  width: 100%;
  font-weight: 400;
  }
  .form > input{
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border: none;
  
  }
  .form input:focus{
    outline: 1px solid  #00A5EC; 
    border-radius: 3px!important;
  }
  .nameSecCont{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .form .nameSecCont .nameSec:first-of-type {
      padding-left: 15px;
      padding-right: 3px;
  }
  .form .nameSecCont .nameSec:last-of-type {
      padding-left: 3px;
      padding-right: 15px;
  }
  .nameSec{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .label_toc {
      font-size: 12px;
      color: #333333;
      line-height: 1.57;
      font-weight: 400;
  }
  button, input{
    overflow: visible;
    
  }
  button, input, optgroup, select, textarea {
    margin: 0;
  }

  #student-signup-btn-cont{
    display: block;
  }
  #student-signup-btn {
      text-align: center;
      margin: 12px 0 16px;
  }
  .btn.btnSignup {
    width: 100%;
      padding: 12px 16px;
      background: #00A5EC;
      border-radius: 3px;
      border: 1px solid #00A5EC;
  }
  .btn {
      padding: 7px 15px;
      font-weight: 600;
      min-width: 80px;
      line-height: 1.14285714;
      font-size: 14px;
  }
  .btnSignup {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  button, input, optgroup, select, textarea {
      margin: 0;
      font-family: inherit;
  }
  #formExtras .labelExtra {
      text-align: center;
  }
   #already-reg{
    color: #484848;
  }
    #already-reg span{
    color: #007bff;
  }
 

  .register {
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .register > button {
    width: 215px;
    padding: 12px;
    font-size: 16px;
    margin: auto;
    background: #00A5EC;
    border-radius: 3px;
    border: 1px solid #00A5EC;
    color: white;
    font-weight: 600;
    min-width: 80px;
    line-height: 1.14285714;
    display: inline-block;
  }




  /* ------------------------media queries --start-------------------- */

  @media (min-width: 1256px)
  {#max-width-cont{
    padding: 0px 100px;
  }
  #rightSide{
      margin-bottom: 40px;}
    
  }
  @media (min-width: 1024px)
  {
    .navFlex{
      padding: 0px 100px;
    } 
  }
  @media (max-width: 1440px)
  {#rightSide{
      margin-bottom: 55px;}
  }
  @media (max-width: 1255px)
  {#rightSide{
      margin-bottom: 100px;}
    
  }

    @media (max-width:768px){
    .midCont{
      flex-direction: column;
      align-items: center;
    }
    .midText{
      height: 400px;
      background-size: 150%;
      background-position-y: 200px;
      background-position-x: -80px;
    }
  }
 @media (max-width: 992px)
  {
    #max-width-cont{
      background-position-x: 000px;
    background-position-y:top;
    background-size: 140%;
  }
}




 /* modal-sucess-css-start */

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  padding: 0;
  width: 100%;
}

.modalLeft {
    min-width: 120px;
    max-width: 120px;
    height: auto;
    background-image: url("../image/modal_success_background.svg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 6px 0 0 6px;
    display: flex;
    justify-content: center;
}
.modalLeft img{
  vertical-align: middle;
    border-style: none;
    width: 48px;
}

.modalRight {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 32px 32px 32px 24px;
}
.message{
  color: #484848;
  font-size: 14px;
  line-height: 1.57142857;
  font-weight: 400;
  text-align: left;
}
.closeBtnCont{
  margin-top: 8px;
  text-align: right;
}
.closebtn{
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  margin-left: 16px;
  margin-top: 16px;
  background: #00A5EC;
  border-radius: 3px;
  border: 1px solid #00A5EC;
  padding: 7px 15px;
  font-weight: 600;
  min-width: 80px;
  line-height: 1.14285714;
  font-size: 14px;
  text-align: center;
  float: right;
}
.closebtn:hover{
  background-color: #007bff;
}

.bg-modal {
  position: fixed;
  transition: 200ms ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
  pointer-events: none;
}

.modal-contents {
	background-color: white;
	text-align: center;
	/* padding: 20px; */
	position: relative;
	border-radius: 6px;
  display: flex;
  border: 1px solid black;
  box-shadow: 0 12px 24px rgb(0 0 0 / 8%);
  border: none;
  font-family: sans-serif;
  max-width: 648px; 
  transition: 600ms ease-in-out;
  pointer-events:fill;
  z-index: 10;

      background: #fff;
    border: none;
    border-radius: 0;
    min-height: 570px;
}


  /* modal-sucess-css-end */



