.header {
  height: 72px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
  margin-bottom: 2px;
}

.header > .height-cont {
  height: 100%;
}

.header > .height-cont > .flex {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 100%;
}

.header > .height-cont > .flex > .imgflex {
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: center;
  column-gap: 10px;
}

.header > .height-cont > .flex > .imgflex > .icon {
  padding-top: 10%;
  display: none;
}

.header > .height-cont > .flex > .imgflex > img {
  padding-bottom: 10px;
  width: 60%;
  height: 100%;
}

.header > .height-cont > .flex > .btn {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 0px;
}
.header > .height-cont > .flex > .btn > div {
  height: 100%;
  display: flex;
  align-items: center;
}

.header > .height-cont > .flex > .btn > div > a {
  text-decoration: none;
  color: #525050;
  font-weight: 600;
}

.header > .height-cont > .flex > .btn > div > a:hover {
  color: #008bdc;
}

.header > .height-cont > .flex > .btn > div > a > .spanStyle,
.sidenav > .resMenu > a > span {
  background-color: #ff8c00;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-top: 2px;
  font-size: 12px;
}

.header > .height-cont > .flex > .btn > div > .btnLogin {
  background-color: white;
  border: none;
  border: 1px solid #00a5ec;
  border-radius: 4px;
  color: #00a5ec;
  padding: 9px 20px 9px 20px;
  font-weight: bold;
}

.header > .height-cont > .flex > .btn > .dropdown > div > .btnRegister {
  background-color: #00a5ec;
  border: none;
  border: 1px solid #00a5ec;
  border-radius: 4px;
  color: white;
  padding: 5px 20px 5px 20px;
  font-weight: bold;
}

.header > .height-cont > .flex > .btn > .dropdown:hover {
  border-bottom: 10px solid #008bdc;
}

.header > .height-cont > .flex > .btn > .dropdown > div {
  position: relative;
  display: inline-block;
}

.header > .height-cont > .flex > .btn > .dropdown > div > .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  right: 0;
  left: auto;
  margin-top: 18%;
  min-width: 120px;
  z-index: 1;
}

.header
  > .height-cont
  > .flex
  > .btn
  > .dropdown:hover
  > div
  .dropdown-content {
  display: block;
}
.header
  > .height-cont
  > .flex
  > .btn
  > .dropdown
  > div
  > .dropdown-content
  > nav
  > div {
  padding: 5px;
}

.header
  > .height-cont
  > .flex
  > .btn
  > .dropdown
  > div
  > .dropdown-content
  > nav
  > div
  > a {
  text-decoration: none;
  color: #525050;
  font-family: "Inter var", sans-serif;
  line-height: 22px;
  font-weight: 400;
}

.header
  > .height-cont
  > .flex
  > .btn
  > .dropdown
  > div
  > .dropdown-content
  > nav
  > div
  > a:hover {
  color: #00a5ec;
}

/*main css */
