.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.main-popup {
  position: fixed;
  left: 0;
  top: 30px;
  margin: 0;
  width: 100%;
  height: 450px;
  background-color: #e7e7f6;
  border-radius: 5px;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  /*overflow: hidden;*/
}

.main-popup.visible {
  opacity: 1;
  visibility: visible;
  transform: translate(60px, 60px);
  display: flex;
  flex-direction: column;
  width: 380px;
}

@media (min-width: 500px) {
  .main-popup {
    width: 340px;
    left: 50%;
    margin: 0 0 0 -250px;
  }
}

.popup-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 62px;
  width: 100%;
}

#popup-close-button a {
  position: absolute;
  right: 10px;
  top: -30px;
  width: 22px;
  height: 22px;
}

#popup-close-button a::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#popup-close-button a::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  width: 3px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-header ul {
  margin: 0;
  padding: 0;
}

.popup-header ul li {
  text-align: center;
  list-style: none;
  width: 50%;
  float: left;
}

.popup-header ul li a {
  display: block;
  padding: 20px 0;
  margin: 0;
  text-decoration: none;
  font-size: 1.2em;
}

#sign-in {
  background-color: white;
  color: black;
  border-radius: 5px 0 0 0;
}

#sign-in.active {
  color: #00a5ec;
  background-color: white;
  border-bottom: 2px solid #00a5ec;
}

#register {
  background-color: white;
  color: #000;
  border-radius: 0 5px 0 0;
}

#register.active {
  color: #00a5ec;
  background-color: white;
  border-bottom: 2px solid #00a5ec;
}

.popup-content {
  height: 420px;
  background-color: white;
}

form.sign-in {
  position: relative;
  left: 0;
  font-size: 1em;
  opacity: 1;
}

form.sign-in.move-left {
  opacity: 0;
  transform: translateX(-450px);
}

form label {
  font-size: 1.1em;
  margin-left: 23px;
}

form.sign-in input {
  color: #000;
  height: 35px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid gray;
  box-sizing: border-box;
  margin-bottom: 5%;
}

input#submit {
  background-color: #00a5ec;
  color: #fff;
  height: 40px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  border: none;
}

form.register {
  position: relative;
  top: -380px;
  left: 0;
  font-size: 1em;
  opacity: 0;
}

form.register.move-left {
  opacity: 1;
  transform: translateX(0);
}

form.register input {
  color: #000;
  height: 35px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid gray;
  box-sizing: border-box;
  margin-bottom: 5%;
}

.link {
  float: right;
  margin-right: 9%;
  margin-top: 10px;
}

/*add new css for google btn*/
.googlebtn > button {
  color: #000;
  height: 35px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
  background-color: white;
  /* cursor: pointer; */
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid gray;
  /*flex*/
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  font-weight: 600;
}

.crossline {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.crossline .he {
  display: inline-block;
  border-bottom: white 1px solid;
  width: 100%;
  margin: 18px;
}

.crossline p {
  font-family: "Inter var", sans-serif;
  align-self: center;
}

.btmclass {
  width: 95%;
  margin: auto;
  text-align: center;
}

.btmclass p {
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.Disble {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1001;
}
