* {
  margin: 0px;
  padding: 0px;
}

.cont > main > .search {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.Disble {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1001;
}

.cont > main > .search > .size {
  width: 512px;
  display: flex;
}

.cont > main > .search > .size > input {
  height: 56px;
  width: 85%;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid gray;
  border-right: none;
}

.cont > main > .search > .size > input:hover {
  border: 1px solid #1dc1f6;
}

.cont > main > .search > .size > .searchBtn {
  flex: 1;
  background-color: #00a5ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
}

.cont > main > .search > .size > .searchBtn > button {
  background-color: transparent;
  border: none;
  color: white;
}

/*Intrenship section*/

.cont > main > .intrenship {
  width: 96%;
  margin: auto;
  text-align: center;
  margin-top: 80px;
}

.cont > main > .training {
  width: 60%;
}

.cont > main > .intrenship > .innerIntrenship > h2 {
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.cont > main > .intrenship > .innerIntrenship > h2 > span {
  background: #ff8c00;
  color: white;
  padding: 5px 8px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;
  margin-left: 8px;
}

.cont > main > .intrenship > .innerIntrenship > p {
  padding-bottom: 50px;
  font-size: 18px;
  color: #484848;
}

.cont > main > .intrenship > .innerIntrenship > .category > .categoryItems {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > div {
  padding: 25px 10px 25px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 30px;
}

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > div
  > a
  > .text {
  font-family: "Inter var", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: black;
  margin-top: 10px;
  width: 120px;
  line-height: 1.5;
}

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > div
  > a
  > .width {
  width: 200px;
}

/*category hover*/

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > .divHover:hover {
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
  color: red;
}

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > .divHover:hover
  > a
  > .text {
  color: #00a5ec;
}

.cont > main > .intrenship > .innerIntrenship > .categoryLink {
  margin-top: -40px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #006bc2;
}

/*intrenship page css*/
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30%;
}

.slider {
  width: 95%;
  min-height: 600px;
  display: flex;
  column-gap: 30px;
  margin: auto;
  margin-bottom: 40px;
}

.LSlider {
  border: 1px solid #eee;
  width: 30%;
  height: 600px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  border-radius: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 20px;
}

.LSlider > p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 15px;
}

.LSlider > .gap {
  width: 90%;
  margin: auto;
}

.LSlider > .gap > label {
  font-family: "Inter var", sans-serif;
}

.LSlider > .gap > input {
  height: 40px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Inter var", sans-serif;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #ddd;
}

.LSlider > .gap > input:hover {
  border: 1px solid #1dc1f6;
}

.RSlider {
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-height: 600px;
}

.RSlider > .order {
  background: #fff;
  padding: 23px;
  margin-bottom: 24px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  min-height: 200px;
}

#filter_ui_icon_desktop {
  color: #00a5ec;
}
/*end intrenship page css */
