* {
  margin: 0px;
  padding: 0px;
}

.cont > main > .search {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.cont > main > .search > .size {
  width: 512px;
  display: flex;
}

.cont > main > .search > .size > input {
  height: 56px;
  width: 85%;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid gray;
  border-right: none;
}

.cont > main > .search > .size > input:hover {
  border: 1px solid #1dc1f6;
}

.cont > main > .search > .size > .searchBtn {
  flex: 1;
  background-color: #00a5ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
}

.cont > main > .search > .size > .searchBtn > button {
  background-color: transparent;
  border: none;
  color: white;
}

/*Intrenship section*/

.cont > main > .intrenship {
  width: 96%;
  margin: auto;
  text-align: center;
  margin-top: 80px;
}

.cont > main > .training {
  width: 60%;
}

.cont > main > .intrenship > .innerIntrenship > h2 {
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.cont > main > .intrenship > .innerIntrenship > h2 > span {
  background: #ff8c00;
  color: white;
  padding: 5px 8px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;
  margin-left: 8px;
}

.cont > main > .intrenship > .innerIntrenship > p {
  padding-bottom: 50px;
  font-size: 18px;
  color: #484848;
}

.cont > main > .intrenship > .innerIntrenship > .category > .categoryItems {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > div {
  padding: 25px 10px 25px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 30px;
}

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > div
  > a
  > .text {
  font-family: "Inter var", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: black;
  margin-top: 10px;
  width: 120px;
  line-height: 1.5;
}

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > div
  > a
  > .width {
  width: 200px;
}

/*category hover*/

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > .divHover:hover {
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
  color: red;
}

.cont
  > main
  > .intrenship
  > .innerIntrenship
  > .category
  > .categoryItems
  > .divHover:hover
  > a
  > .text {
  color: #00a5ec;
}

.cont > main > .intrenship > .innerIntrenship > .categoryLink {
  margin-top: -40px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #006bc2;
}

/*intrenship page css*/
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30%;
}

.toggle_content {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30%;
  padding-right: 6%;
  padding-left: 6%;
}

.slider {
  width: 95%;
  min-height: 600px;
  display: flex;
  column-gap: 30px;
  margin: auto;
  margin-bottom: 40px;
}

.LSlider {
  border: 1px solid #eee;
  width: 35%;
  height: 600px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  border-radius: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 20px;
  overflow: auto;
}

/* width */
.LSlider::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.LSlider::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.LSlider::-webkit-scrollbar-thumb {
  background: rgb(182, 181, 181);
}

/* Handle on hover */
.LSlider::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.LSlider > p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 12px;
}

.LSlider > .gap {
  width: 90%;
  margin: auto;
}

.LSlider > .clear {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  font-size: 15px;
}

.LSlider > .line {
  display: flex;
  height: 0px;
  width: 90%;
  margin: auto;
  align-items: center;
  column-gap: 10px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #8a8a8a;
  font-weight: 700;
}

.LSlider > .filterSearch {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.LSlider > .filterSearch > p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.LSlider > .filterSearch > .flex {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.LSlider > .filterSearch > .flex > input {
  height: 45px;
  width: 75%;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid gray;
  border-right: none;
}

.LSlider > .filterSearch > .flex > .searchBtn {
  flex: 1;
  background-color: #00a5ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
}

.LSlider > .filterSearch > .flex > .searchBtn > button {
  background-color: transparent;
  border: none;
  color: white;
}

.LSlider > .check {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.LSlider > .range {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.LSlider > .range > .prang > input {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.LSlider > .range > .prang > .rate {
  display: flex;
  column-gap: 30px;
}

.LSlider > .gap > label {
  font-family: "Inter var", sans-serif;
}

.LSlider > .gap > input {
  height: 40px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Inter var", sans-serif;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #ddd;
}

.LSlider > .gap > input:hover {
  border: 1px solid #1dc1f6;
}

.RSlider {
  width: 65%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-height: 600px;
}

.RSlider > .order {
  background: #fff;
  padding: 23px;
  margin-bottom: 24px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  min-height: 200px;
}

.RSlider > .pramo {
  background: #fff;
  margin-bottom: 24px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  min-height: 200px;
  padding-left: 20px;
  padding-top: 20px;
}

.RSlider > .pramo > .intrenship > .promotion {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.RSlider > .pramo > .intrenship > .promotion > span {
  background: orange;
  color: white;
  border-top-left-radius: 25px;
  padding: 2px;
  border-bottom-left-radius: 25px;
  box-sizing: border-box;
  width: 15%;
  text-align: center;
}

.RSlider > .pramo > .intrenship > .praP {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 15px;
}
.RSlider > .pramo > .intrenship > .praP > div,
.paragraph {
  display: flex;
}

.RSlider > .pramo > .intrenship > .praP > div > p > span {
  font-weight: 700;
  margin-left: 5px;
}

.RSlider > .order > .intrenship {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RSlider > .order > .intrenship > .contents > p {
  color: #8a8a8a;
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 1.43;
}
.RSlider > .order > .intrenship > .contents > h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.RSlider > .order > .discrip {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.RSlider > .order > .details,
.pramo > .details {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  margin-top: 30px;
}
.RSlider > .pramo > .paddingS {
  padding-right: 20px;
}

.RSlider > .order > .details > .spanCategory,
.pramo > .details > .spanCategory {
  display: flex;
  column-gap: 14px;
}

.RSlider > .order > .details > .spanCategory > span,
.pramo > .details > .spanCategory > span {
  background-color: #f8f8f8;
  color: #666;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 10px;
}

.RSlider > .order > .discrip > .point {
  max-width: 70%;
}
.RSlider > .order > .discrip > .point > .titles {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.RSlider > .order > .intrenship > .content {
  width: 70%;
}

.RSlider > .order > .intrenship > .img > img {
  max-width: 150px;
  max-height: 60px;
}
#filter_ui_icon_desktop {
  color: #00a5ec;
}
/*end intrenship page css*/

/*switch button css*/
.LSlider > .check > div > .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
}

.LSlider > .check > div > .switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

.LSlider > .check > div > .switch > .slide {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 2px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.LSlider > .check > div > .switch > .slide:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  background-color: gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.LSlider > .check > div > p {
  font-size: 15px;
  font-weight: 600;
}

.LSlider > .check > div > .switch > input:checked + .slide {
  background-color: #2196f3;
}

.LSlider > .check > div > .switch > input:focus + .slide {
  box-shadow: 0 0 1px #2196f3;
}

.LSlider > .check > div > .switch > input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.LSlider > .check > div > .switch > .slide.round {
  border-radius: 34px;
}

.LSlider > .check > div > .switch > .slide.round:before {
  border-radius: 50%;
}

.tooltip-inner {
  max-width: 500px !important;
  width: 90% !important;
  line-height: 20px;
  font-size: 15px;
}
/* end switch css */

/*slide down style*/
.hide {
  visibility: visible;
}

/*responsive header*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #484848;
  display: block;
  transition: 0.3s;
  font-family: "Inter var", sans-serif;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.overlay.vis {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.sidenav > .resMenu {
  display: flex;
  flex-direction: column;
}

.sidenav > .resMenu > .hrLine {
  border: 1px solid #e4e4e4;
  margin-top: 10px;
  margin-bottom: 10px;
}
